{% extends "base_generic.html" %}
{% load static %}
{% load tz %}

{% block content %}

<head>
  <title>Catalyst Repository | Earnigs Reports</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>

<br>
    <span >
    NYSE Earnings Calendars
The following sites list which stocks (that are in general listed on the NYSE stock exchange) will release earnings on a certain date.
Also try our Earnings screener to see which stocks are releasing an earnings report today.
</span>
<dl>
    Nasdaq Earnings Calendar
    <dd><a href="https://www.nasdaq.com/market-activity/earnings" class="btn btn-outline-dark" role="button" target="_blank">Nasdaq</a></dd>
    Zacks Earnings Calendar
    <dd><a href="https://www.zacks.com/earnings/earnings-calendar" class="btn btn-outline-dark" role="button" target="_blank">Zacks</a></dd>
    <dd><a href="https://www.earningswhispers.com/calendar" class="btn btn-outline-dark" role="button" target="_blank">EarningsWhispers</a></dd>
    <dd><a href="https://stocktwits.com/discover/earnings-calendar" class="btn btn-outline-dark" role="button" target="_blank">StockTwits</a></dd>
    <dd><a href="https://marketchameleon.com/Calendar/Earnings" class="btn btn-outline-dark" role="button" target="_blank">MarketChameleon</a></dd>
</dl>
  
</body>
{% endblock %}